@use '../../styles' as s;

.bookings {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	overflow-x: hidden;

	ul {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: stretch;
		// width: 100%;
		padding: 0.5rem;
		border-radius: s.$br-sm;
		background-color: rgb(var(--secondary));
		box-shadow: 0 0.5rem 1rem rgba(var(--primary), 0.1);
		// cursor: pointer;
	}
}

