.suggestionWrapper {

  .suggestions {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-out;
    max-height: 0;
    visibility: hidden;
    list-style: none;
    overflow-y: hidden;
    background-color: rgb(var(--secondary),0.8);
    border: 1px solid rgb(var(--primary),0.3);
    backdrop-filter: blur(5px);
    color: rgb(var(---primary),1);
    border-radius: 0.5rem;
    padding: 0.5rem;

    span {
      color: rgb(201, 0, 0);
      font-weight: 500;
      font-size: 1rem;
      padding: 0.3rem;
    }

    &.show {
      max-height: 40rem;
      visibility: visible;
      transition: all 0.5s ease-out;
    }
  }

  .suggestions li {
    padding: 0.5rem;
    font-weight: 500;
    color: rgb(var(--primary),0.5);
    border-radius: 0.5rem;
  }

  .suggestions li:hover,.suggestions .suggestion-active {
    background-color: rgb(var(--primary),0.2);
    cursor: pointer;
    color: rgb(var(--primary),1);
  }
}