.home {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 40rem;
	text-align: center;

	.welcome {
			font-size: 5rem;
			font-weight: 600;
	}

	.icon {
		width: 4rem;
		height: 4rem;
		color: rgb(var(--primary));
	}

	p {
		text-align: center;
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 3rem;
	}
}

@media (max-width: 768px) {
	.home {
		width: 90%;

		.welcome{
			font-size: 4rem;
		}

		.buttons {
			flex-direction: column;
			gap: 2rem;
			width: 100%;

			>*{
				width: 100%;
			}

			>*:nth-child(2) {
				order: -1;
			}
		}
	}
}