.button {
	border: none;
	border-radius: 0.5rem;
	background-color: rgb(var(--primary));
	color: rgb(var(--secondary));
	font-size: 1.5rem;
	padding: 1rem 2rem;
	font-weight: 500;
	width: max-content;
	height: fit-content;

	&:hover {
		background-color: rgba(var(--primary),0.9);
		box-shadow: 0 0.1rem 0.1rem rgba(var(--primary),0.2);
	}

	&:active {
		background-color: rgba(var(--primary),0.8);
	}

	&.secondary {
		background-color: rgba(var(--primary),0);
		color: rgb(var(--primary));
		outline: 0.15rem solid rgb(var(--primary));
		outline-offset: -0.15rem;

		&:hover {
			background-color: rgba(var(--primary),0.1);
		}

		&:active {
			background-color: rgba(var(--primary),0.2);
		}
	}

	&.tertiary {
		background-color: rgba(var(--primary),0);
		color: rgb(var(--primary));
		text-decoration: underline;
		box-shadow: none;
		&:hover {
			background-color: rgba(var(--primary),0.1);
		}
		&:active {
			background-color: rgba(var(--primary),0.2);
		}
	}

	&.small {
		font-size: 1.25rem;
		font-weight: 500;
		padding: 0.5rem 1rem;
	}

	&.large {
		font-size: 2rem;
		font-weight: 400;
	}
}