.output {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border: 1px solid rgb(16, 226, 34);
  border-radius: 4px;
  padding: 1.5rem;
  color: #c6bfff;
  // white-space: pre-wrap;

  * {
    margin: revert;
    padding: revert;
  }

  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2 {
    text-decoration: underline;
    text-decoration-color: #c6bfffc9;
  }

  blockquote {
    padding: 0 1rem;
    border-left: 0.4rem solid #c6bfffc9;
    color: #c6bfffc9;
    margin: 0;
  }

  code {
    background-color: rgb(52, 53, 54);
    padding: 0.2rem 0.3rem;
    border-radius: 0.4rem;
  }

  pre {
    background-color: #050b18;
    border-radius: 0.5rem;
    padding: 1rem;

    // .keyword {
    //   color: #b16ec7;
    // }

    // .value {
    //   color: #d19a66;
    // }

    // .function {
    //   color: #266ef2;
    // }

    // .property {
    //   // color: #BE5046;
    //   color: #e06c75;
    // }

    // .number {
    //   color: #d19a66;
    // }

    // .bracket {
    //   color: #c4ac13;
    // }

    // .operator {
    //   color: #61afef;
    // }

    // .string {
    //   color: #98c36e;
    // }

    // .comment {
    //   color: #5c5c5c !important;

    //   * {
    //     color: #5c5c5c !important;
    //   }
    // }
  }

  table {
    // text-align: left;
    border-collapse: collapse;
    background-color: #1e1d27c9;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.5rem 0;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
  }

  th,
  td {
    border: 0.1rem solid #c6bfff38;
    padding: 1rem;
  }

  th {
    background: rgb(37, 8, 70);
  }

  tbody > tr:nth-child(even) {
    background-color: #333146c9;
  }

  mark {
    color: rgb(52, 53, 54);
    background-color: #c6bfff;
    padding: 0.4rem 0;
    font-weight: 500;
  }
}
