#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.outerDiv {
  display: block;
  background-color: blue;
  width: 800px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
}

.innerDiv {
  display: inline-block;
  background-color: red;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: auto;
  resize: both;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
