// #root {
//   max-width: 2400px;
// }

.app {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  // grid-template-columns: minmax(160px, 20%) 60% minmax(160px, 20%);
  height: 100vh;
}

.column-3 {
  padding: 1rem;
  background-color: rgb(3, 2, 19);
  color: rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .position, .mode{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }

  button {
    border-radius:0.5rem;
    border: 0.1rem solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #5005db3d;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
  }

  button.selected {
    background-color: #5005db;
  }
  button:hover {
    border-color: #646cff;
  }

  fieldset{
    border-color: #2f0779;
  }
  legend{
    font-weight: bold;
  }

  hr {
    border-color: #2f0779;
  }
}



