// #root {
//   max-width: 2400px;
// }

.app {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  // grid-template-columns: minmax(160px, 20%) 60% minmax(160px, 20%);
  height: 100vh;
}

.column-1 {
  // grid-column: 1;
  background-color: rgb(9, 8, 31);
  padding: 1rem;
}

.column-3 {
  padding: 1rem;
  background-color: rgb(9, 8, 31);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // overflow: hidden;
  // grid-column: 1;

  .position{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }
}



