.flightItem {
  display: flex;
	// flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 3rem;
	width: 100%;
	min-width: 60rem;
	// height: 100%;
	padding: 0.5rem;
	border-radius: 0.5rem;
  background-color: rgba(var(--primary),0.05);
	box-shadow: 0 0.2rem 0.4rem rgba(var(--primary), 0.1);
	font-size: 1.25rem;

	.city {
		white-space: nowrap;
	}

	.info {
		display: grid;
		gap: 0.5rem	;
		width: 100%;

		&.three {
			width: 50%;
		}
	}

	.fi {
		border-radius: 0.5rem;
		width: 1.25rem;
	}
}