//Breakpoints
$mobile: 600px;
$tablet: 768px;
$desktop: 1024px;

:root {
	// Colors

	--primary: 255, 0, 0;
	--secondary: 255, 255, 255;
	--tertiary: 99, 10, 242;
	--error: rgb(236, 9, 9);

	// Font weights
	--thin: 300;
	--light: 400;
	--normal: 500;
	--semibold: 600;
	--bold: 700;
	--black: 900;

	// Font size
	--xs: 1rem;
	--sm: 1.25rem;
	--md: 1.5rem;
	--lg: 1.75rem;
	--xl: 2rem;


	// Border radius
	--border-radius: 0.5rem;
	--border-radius-sm: 0.25rem;
	--border-radius-lg: 1rem;
	--border-radius-xl: 1.5rem;
	--border-radius-xxl: 2rem;
	--border-radius-xxxl: 3rem;

}

.dark {
	--primary: 255, 255, 255;
	--secondary: 5, 5, 5;
}