:root {
	// Colors
	--primary: rgb(27, 27, 27);
	--secondary: #ffffff;
	--tertiary: #4f0cbb;
	--off-white: #e6e6e6;
	--text: #1a1a1a;

	// Font weights
	--w-light: 300;
	--normal: 400;
	--semibold: 500;
	--bold: 700;

	// Font size
	--small: 0.875rem;
	--normal: 1rem;
	--large: 1.25rem;

	//Breakpoints
	--mobile: 600px;
	--tablet: 768px;
	--desktop: 1024px;
}