// PADDING
$p-xs: 0.5rem;
$p-sm: 1rem;
$p-md: 1.5rem;
$p-lg: 2rem;
$p-xl: 3rem;
$p-xxl: 4rem;
$p-xxxl: 5rem;

// MARGIN
$m-xs: 0.5rem;
$m-sm: 1rem;
$m-md: 1.5rem;
$m-lg: 2rem;
$m-xl: 3rem;
$m-xxl: 4rem;
$m-xxxl: 5rem;

// BORDER RADIUS
$br-xs: 0.25rem;
$br-sm: 0.5rem;
$br-md: 0.75rem;
$br-lg: 1rem;
$br-xl: 1.5rem;
$br-xxl: 2rem;
$br-xxxl: 3rem;
