:root {
	// Colors

	--primary: 255, 0, 0;
	--secondary: 255, 255, 255;
	--tertiary: 99, 10, 242;
	--error: rgb(236, 9, 9);

	// Font weights
	--thin: 300;
	--light: 400;
	--normal: 500;
	--semibold: 600;
	--bold: 700;
	--black: 900;

	// Font size
	--xs: 1rem;
	--sm: 1.25rem;
	--md: 1.5rem;
	--lg: 1.75rem;
	--xl: 2rem;

	//Breakpoints
	--mobile: 640px;
	--tablet: 768px;
	--desktop: 1024px;
}

.dark {
	--primary: 255, 255, 255;
	--secondary: 5, 5, 5;
}