.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  // position: relative;
  // text-align: center;

  .central {
    position: relative;
    // background-color: palevioletred;
    width: 100%;
    flex-grow: 1;
    display: grid;
    place-content: center;
  }
}
