@use 'fonts';
@use 'variables';
// @import 'node_modules/modern-normalize/modern-normalize.css';

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  min-height: 100vh;
  background-image: linear-gradient(to left bottom, #9b346f, #306cb4, #1b9991);
  color: rgb(var(--primary));
}

//Hide scrollbar
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

input,select {
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(var(--primary),0.1);
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 1.25rem;
  color: rgb(var(--primary));

}
select {
  width: fit-content;
  option {
    color: rgb(var(--primary));
    background-color: rgb(var(--secondary));
  }
}
.title {
	padding: 1rem 0;
	font-size: 2rem;
	border-bottom: 1px solid rgb(var(--primary));
}