@use '../../styles' as s;

.pageHeader {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	width: 100%;

	.icons {
		display: flex;
		gap: 1rem;

		>* {
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.title {
		padding: 1rem 0;
		font-size: s.$fs-xl;
		border-bottom: 1px solid rgb(var(--primary));
		white-space: nowrap;
	}
}

@media (max-width: s.$breakpoint-mobile) {
	.pageHeader {
		.icons >*{
			display: none;
		}
		.title {
			padding: 0.3rem 0;

		}
	}

}