:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: rgb(26, 21, 34);
  color: white;
}
/*
h1 {
  margin: 0;
} */
