@use '../../styles' as s;

.flightItem {
  display: flex;
	align-items: center;
	gap: 2rem;
	padding: 0.5rem;
	border-radius: s.$br-sm;
  background-color: rgba(var(--primary),0.05);
	box-shadow: 0 0.2rem 0.4rem rgba(var(--primary), 0.1);
	font-size: s.$fs-sm;
	width: 100%;

	.info {
		display: grid;
		gap: 0.5rem;
		flex-shrink: 0;
		white-space: nowrap;

		&.one {
			width: max-content;
			flex-grow: 1;

			.flag {
				width: 1.5rem;
				border-radius: 0.2rem;
			}
		}

		&.two {
			width: 16rem;
		}

		&.three {
			width: 7rem;
		}
	}

	.fi {
		border-radius: s.$br-sm;
		width: 1.25rem;
	}
}

@media (max-width: s.$breakpoint-mobile) {
	.flightItem {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		button {
			width: 100%;
		}
	}
}