@use '../../styles' as s;

.notFound {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;

	.title {
		font-size: s.$fs-xxl;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	.subtitle {
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.text {
		font-weight: bold;
		margin-bottom: 1rem;
	}
}