.paymentPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	form {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;

		.cardtype  {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 1rem;
			// background-color: red;

			button {
				border: none;
				border-radius: 0.5rem;
				background-color: rgba(var(--primary),0);
				height: fit-content;
				width: fit-content;
			}

			img {
				width: 3rem;
				height: 3rem;
				object-position: center center;
				object-fit: contain;
				border-radius: 0.5rem;
			}

			.chosen {
				outline: 0.2rem solid rgb(var(--tertiary));
				outline-offset: 0.3rem;
			}
		}

		>button:last-child{
			grid-column: 2;
			width: 100%;
		}
	}


	// & input,select {
	// 	border: none;
	// 	border-radius: 0.5rem;
	// 	background-color: rgba(var(--primary),0.1);
	// 	padding: 1rem 1.5rem;
	// 	width: 100%;
	// 	font-size: 1.25rem;
	// }

	input:nth-child(1) {
		grid-column: 1 / 3;
	}

	input:nth-child(6) {
		grid-column: 1 / 3;
	}

	input:nth-child(6) {
		grid-column: 1 / 3;
	}

	.remember {
		display: flex;
		gap: 1rem;
		align-items: center;
		font-weight: bold;
		font-size: small;

		input {
			height: 2rem;
			width: 2rem;
			accent-color: rgb(var(--tertiary));
		}
	}
}