@use '../../styles' as s;

.summaryPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;

	.planet {
		width: 3rem;
		height: 3rem;
		color: rgb(var(--tertiary));
	}

	.id {
		font-size: s.$fs-sm;
		font-weight: normal;
		color: rgb(var(--primary));
		align-self: start;
		margin-top: 1.5rem;

		span {
			font-weight: 500;
		}
	}

	.schedule {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: space-between;
		justify-items: left;
		align-items: center;
		row-gap: 1rem;
		column-gap: 2rem;
		font-size: s.$fs-md;
		font-weight: s.$fw-bold;
		width: 100%;

		&>div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: .5rem;
			font-size: s.$fs-sm;
			font-weight: s.$fw-bold;
		}

		&>div:nth-child(3n+3) {
			background-color: rgb(var(--primary),.05);
			border-radius: s.$br-sm;
			padding: 0.5rem 1rem 0.5rem;
		}

		.subtle {
			color: rgb(var(--primary),.5);
		}

		.icon {
			color: rgb(var(--tertiary));
			width: 2.5rem;
			height: 2.5rem;
			// height: 2rem;
		}

		.flag {
			width: 1.5rem;
			border-radius: 0.2rem;
		}
	}

	.price {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 2rem;
		row-gap: 1rem;
		padding: 1rem;
		font-size: s.$fs-sm;

		>span:nth-child(n+5) {
			font-weight: bold;
		}
	}

	>p {
		font-size: s.$fs-sm;
		text-align: center;
	}

	button {
		width: 100%;
	}
}

@media (max-width: s.$breakpoint-mobile) {
	.summaryPage {
		width: max-content;
	}
}