@use './styles' as style;

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  .central {
    flex-grow: 1;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-areas: "centered";
    // background-color: palevioletred;

    >div {
      grid-area: centered;
    }
  }
}
