.loginPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	form {
		display: grid;
		row-gap: 1.5rem;
		column-gap: 3rem;

		label {
			position: relative;
			display: grid;
			font-size: small;

			i {
				color: var(--error)
			}

			.label {
				padding: 0.5rem;
			}

			>.error {
				position: absolute;
				top: 100%;
				left: 0;
				font-size: x-small;
				// color: rgb(var(--error));
				color: var(--error)
			}
		}

		button {
			width: 100%;
		}
	}

	.socialLogin {
		display: flex;
		// flex-direction: column;
		justify-content: center;
		gap: 2rem;

		img {
			width: 3rem;
			height: 3rem;
			cursor: pointer;
		}
	}
}

@media (max-width: 600px) {
	.loginPage {
		width: 90%;
		gap: 1rem;

		form {
			grid-template-columns: 1fr;
			width: 100%;
			row-gap: 1rem;

			button {
				grid-column: auto;
			}
		}
	}
}