@use '../../styles' as s;

.loginPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	form {
		display: grid;
		row-gap: 1.5rem;
		column-gap: 3rem;

		label {
			position: relative;
			display: grid;
			font-size: s.$fs-sm;

			i {
				color: var(--error)
			}

			.label {
				padding: 0.5rem;
			}

			>.error {
				position: absolute;
				top: 100%;
				left: 0;
				font-size: s.$fs-xs;
				// color: rgb(var(--error));
				color: var(--error)
			}
		}

		button {
			width: 100%;
			margin-top: 1rem;
		}
	}

	.socialLogin {
		display: flex;
		// flex-direction: column;
		justify-content: center;
		gap: 2rem;

		img {
			width: 3rem;
			height: 3rem;
			cursor: pointer;
		}
	}
}

@media (max-width: s.$breakpoint-mobile) {
	.loginPage {
		width: 90%;
		gap: 1rem;

		form {
			grid-template-columns: 1fr;
			width: 100%;
			row-gap: 1rem;

			button {
				grid-column: auto;
			}
		}
	}
}